html {
	min-height: 100%;
}

body{
	background-color: white;
	background: url(../imgs/trees2.jpg);
	width: 100%;
	min-height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	
}

a {
	text-decoration: none;
}

a.button  {
	/*display: inline-block;*/
	position: relative;
	z-index: 9999;
	color: #3c6272;
	background-color: white;
	font-family: 'Signika';
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 4px;
	

}


.item1 {
	text-align: center;
	margin-top: 150px;
}

.item2 {
	text-align: center;
	margin-top: 600px;

}

a.button:hover {
	background-color: #22313d;
	color: white;
}

h1{
	font-family: 'Signika' , sans-serif;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 60px;

}

h2{
	font-family: helvetica;
	color: white;
	text-align: left;
	margin-top: 100px;
	margin-left: 20%;

}

p {
	color: white;
	font-size: 19px;
	text-align: left;
	margin-left: 20%;
	margin-top: 20px;
}

.LandingPage {
	
	margin-top: 100px;

}

.model, a-scene{
	margin-left: 100vw;
	height: 10vh;
}

.info-materials {
	font-size: 40px;
	margin-top: 70px;
}

h1.info-materials, h1.info-dimensions {
	z-index: 9999;
	position: relative;
	text-align: center;
}

.info-dimensions {
	font-size: 40px;
}

.knifeimg {
	margin-top: -705px;
	margin-left: 850px;
	display: block;
	/*width: 60%;*/
}

img{
	width: 950px;
}

